<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>

<table th:width="300px" th:border="1" style="border-collapse:collapse;">
    <tr>
        <th><b>First Name</b></th>
        <th><b>Last Name</b></th>
        <th><b>E-mail</b></th>
    </tr>
    <th:block th:each="user : ${users}">
        <tr>
            <td>
                <a th:href="@{/users/{id}(id=${user.getId()})}"
                   th:text="${user.getFirstName()}">user</a>
            </td>
            <td th:text="${user.getLastName()}">
            <td th:text="${user.getEmail()}">
        </tr>
    </th:block>
</table>
<br/>
<hr/>
<a href="/users/new">Create new User</a>
</body>
</html>