<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<table th:width="300px" th:border="1" style="border-collapse:collapse;">
    <tr>
        <td><b>First Name</b></td>
        <td><b>Last Name</b></td>
        <td><b>E-mail</b></td>
    </tr>
    <tr>
        <td th:text="${user.getFirstName()}">
        <td th:text="${user.getLastName()}">
        <td th:text="${user.getEmail()}">
    </tr>

</table>
<br/>
<hr/>
<a th:href="@{/users/{id}/edit(id=${user.getId()})}">Edit</a>
<form th:action="@{/users/{id}/edit(id=${user.getId()})}">
    <input type="submit" value="Edit">
</form>
<form th:method="delete" th:action="@{/users/{id}(id=${user.getId()})}">
    <input type="submit" value="Delete"/>
</form>
</body>
</html>